
html {
	min-height: 100%;
}
body {
	font-family: "Inconsolata", Helvetica, sans-serif;
	height: 100%;
	font-size: 1.6vw;
	color: #19ff81;
	background-color:000;
	background-image: radial-gradient(#11581e, #041607);
  	overflow:hidden;
}
#app {
	position: absolute;
	height: 100%;
	width: 100%;
}
.menu-option {
	transition: all 0.2s;
}
.container {
	padding: 3%;
	height: 100%;
	box-sizing: border-box;
}
.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.header > *:not(.stats) {
	flex: 1;
	margin: 0 10px;
	padding: 0 10px 0 0;
	border-top: 2px solid;
	background-image: linear-gradient(to bottom, #19ff81, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-size: 3px 5vh;
	background-position: right;
}
.header .stats {
	flex: 3;
	display: flex;
	flex-flow: row nowrap;
}
.header .stats .separator {
	border-top: 2px solid;
	flex: 5;
}
.header .stats .separator.left-side {
	background-image: linear-gradient(to bottom, #19ff81, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-size: 3px 5vh;
	background-position: left;
}
.header .stats .separator.right-side {
	background-image: linear-gradient(to bottom, #19ff81, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-size: 3px 5vh;
	background-position: right;
}
.header .stats .title {
	font-size: 1.3em;
	letter-spacing: 6px;
	margin-top: -2vh;
	text-align: center;
	flex-grow: 1;
}
.header .label {
	float: left;
}
.header .value {
	float: right;
}
.footer {
	position: absolute;
	bottom: 3%;
	width: 93%;
}
.footer .container-bottom {
	display: flex;
	flex-flow: row nowrap;
}
.footer .container-bottom .separator,
.footer .container-bottom .separator-small {
	border-bottom: 2px solid;
	margin-bottom: 15px;
}
.footer .container-bottom .separator {
	flex: 4;
}
.footer .container-bottom .separator.left-side {
	background-image: linear-gradient(to top, #19ff81, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-size: 3px 5vh;
	background-position: left;
}
.footer .container-bottom .separator.right-side {
	background-image: linear-gradient(to top, #19ff81, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-size: 3px 5vh;
	background-position: right;
}
.footer .container-bottom .separator-small {
	flex: 1;
}
.footer .container-bottom .push-up {
	margin-bottom: 15px;
}
.footer .container-bottom .menu-option {
	padding: 0 15px;
	margin-top: 15px;
}
.footer .container-bottom .menu-option:hover,
.footer .container-bottom .menu-option.active {
	cursor: pointer;
	outline: 2px solid;
	background: rgba(25, 255, 129, 0.2);
}
.main-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
}
.main-content .list-view {
	flex: 11;
}
.main-content .list-view .menu-option {
	padding: 0 15px;
	margin-top: 15px;
	list-style: none;
}
.main-content .list-view .menu-option:hover,
.main-content .list-view .menu-option.active {
	cursor: pointer;
	outline: 2px solid;
	background: rgba(25, 255, 129, 0.2);
}
.main-content .main-view {
	flex: 12;
	margin: 15px;
}
.main-content .main-view .container-main {
	position: relative;
}
.main-content .main-view .container-main .center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -15%;
	transform: translate(-50%, 33%);
}
.main-content .main-view .title {
	font-size: 1.4em;
}
.main-content .main-view .value {
	font-size: 1.8em;
}
.main-content .main-view .description {
	border-top: 2px solid;
	background-image: linear-gradient(to bottom, #19ff81, rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
	background-size: 3px 5vh;
	background-position: right;
	background-position: 100% 0%;
	position: absolute;
	bottom: 17%;
	width: 48%;
}
.overlay {
	background: -webkit-repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
	background: -moz-repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
	background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
	-webkit-background-size: auto 4px;
	background-size: auto 4px;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 5;
}

/********************************************************************************/
/*
body {
  background-color:#000;
  margin:0;
  overflow:hidden;
  padding:0;
}*/

.overlay2 {
  animation:colorPulse 5s infinite ease-in-out;
  /*background-image:radial-gradient(#444, #111);*/
  /*box-shadow:0 0 5vmin 1vmin #000 inset;*/
  /*box-sizing:border-box;*/
  /*font-family:'Fira Mono', monospace;*/
  /*font-size:20px;*/
  /*height:100vh;*/
  overflow:hidden;
  /*padding:10vmin;*/
  /*width:100vw;*/
}

.overlay2:before {
  animation:wave 10s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.overlay2:after {
  /*background-image:linear-gradient(transparent, transparent 3px, #222);*/
  /*background-size:4px 4px;*/
  /*bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;*/
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

